@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Hide number input spinners in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@layer components {
    .dark-rounded-button {
        @apply bg-black text-white border-1 border-white hover:bg-white hover:text-black hover:border-black p-2 rounded-full cursor-pointer;
    }

    .light-button {
        @apply bg-white text-black border-1 border-black hover:bg-black hover:text-white hover:border-white px-4 py-2 rounded-xl flex justify-center items-center;

    }
}