body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, monospace, sans-serif;
}

.big {
    text-align: center;
    color: blue;
    font-size: 48px;
    margin-bottom: 10px;
}

p.small {
    margin-top: -20px;
    font-size: x-small;
    color: rgb(181, 181, 238);
}

.back {
    text-align: left;
    margin-left: 20px;
    position: absolute;
    cursor: pointer;
    color: blue;
    font-size: 25px;
}

.logo {
    text-align: left;
    margin: 0%;
    width: 60%;
    height: auto;
    border-radius: 70%;
    display: none;
}

.nav {
    text-align: right;
    margin-right: 30px;
    cursor: pointer;
    font-size: 28px;
    color: mediumblue;
}

.realnav {
    text-align: center;
    padding: 20px;
    display: none;
}

p marquee {
    color: #0893f0;
    font-weight: bold;
}

.intro {
    padding: 20px;
    margin: auto;
}

#no {
    background-color: black;
    color: wheat;
    font-size: 16px;
}

.action {
    margin-top: 26px;
    color: blue;
    font-weight: bold;
    font-size: 34px;

}



.actionpay {
    color: turquoise;
    font-size: 27px;
    margin-top: 23px;
}

.meet { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: mediumblue;
    justify-items: center;
}

.founders {
    margin: auto;
}

p.founderss {
    color: mediumblue;
    
}

img {
    margin: 10px;
    width: 50%;
    height: auto;
    border-radius: 15px;
}

mayowa {
    height: 22vh;
    width: 13vh;
}

fwesh {
    height: 21vh;
    width: 15vh;
}

.name {
    margin-top: 0px;
    color: gold;
    justify-content: center;
}

#name {
    margin-top: 0px;
    color: gold;
    margin-left: 230px;
    text-align: left;
    justify-content: center;
}

@media screen and (max-width:768px) {
    #name {
    margin-top: 0px;
    color: gold;
    margin-left: 30px;
    text-align: left;
    justify-content: center;
}

}

.viewmore {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 30px;
    color: #0893f0;
    background-color: black;
    font-weight: bold;
    border-radius: 30px;
}

.viewmore:hover {
    color: rgb(248, 146, 146);
    background-color: brown;
    font-weight: bold;
    border-radius: 30px;
    border-width: 10px;
}

.join {
    color: turquoise;
    font-size: 18px;
}

.joinbtn {
    margin-top: 8px;
    font-size: 21px;
    color: #0893f0;
    background-color: black;
    font-weight: bold;
    border-radius: 30px;
}

.joinbtn:hover {
    margin-top: 8px;
    font-size: 21px;
    color: rgb(248, 146, 146);
    background-color: brown;
    font-weight: bold;
    border-radius: 30px;
    border-width: 10px;
}

a{ 
    text-decoration: none;
    color: white;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 30px;
}